<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>JobSeekerController</servlet-name>
		<display-name>JobSeekerController</display-name>
		<description></description>
		<servlet-class>com.ams.controller.JobSeekerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<display-name>AdminController</display-name>
		<description></description>
		<servlet-class>com.ams.controller.AdminController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AppointmentController</servlet-name>
		<display-name>AppointmentController</display-name>
		<description></description>
		<servlet-class>com.ams.controller.AppointmentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getAllSerlet</servlet-name>
		<display-name>getAllSerlet</display-name>
		<description></description>
		<servlet-class>com.ams.controller.getAll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendEmailServlet</servlet-name>
		<display-name>SendEmailServlet</display-name>
		<description></description>
		<servlet-class>com.ams.controller.SendEmailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SuperAdminController</servlet-name>
		<display-name>SuperAdminController</display-name>
		<description></description>
		<servlet-class>com.ams.controller.SuperAdminController</servlet-class>
	</servlet>
	
	


	<!--JobSeekerController mapping -->
	<servlet-mapping>
		<servlet-name>JobSeekerController</servlet-name>
		<url-pattern>/jobseeker</url-pattern>
	</servlet-mapping>

	<!--AdminController mapping -->
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<!--AppointmentController mapping -->
	<servlet-mapping>
		<servlet-name>AppointmentController</servlet-name>
		<url-pattern>/appointment</url-pattern>
	</servlet-mapping>
	
	<!--SuperAdminController mapping -->
	<servlet-mapping>
		<servlet-name>SuperAdminController</servlet-name>
		<url-pattern>/superadmin</url-pattern>
	</servlet-mapping>



</web-app>
